*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Quicksand, sans-serif;
    

}
#adbtn{
    position: fixed;
   right: 10px;
   top: 10px;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 5px;
   border: 0;
   outline: 0;

 }
#main{
 width: 100%;
 min-height: 100vh;
 background-color:		#87cefa;
 padding-bottom: 50px;
 display: flex;
 flex-wrap: flex;
 
}

.note{
    width: 500px;
    height: 500px;
    background-color: rgb(141, 138, 138);
   margin: 10px;
   margin-top: 50px;

}
.tool{
    width: 100%;
    height: 30px;
    background-color: 	#696969;
    color: white;
    padding: 10px;
}
.tool i{
    cursor: pointer;
    float: right;
    line-height:11px;
    padding-inline-start: 8px;
    }

    .note textarea{
        border: none;
       width: 100%;
       height: 100%;
       resize: none;
       padding: 10px;
       font-size: 18px;

    }
    .note textarea:focus{
         border: 0; 
        outline: 0;
    }
   




